html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background-color: var(--nude);
}

:root {
    --red: #ED6A5A;
    --darkred: #e94f37;
    --blue: #9BC1BC;
    --darkblue: #424c86;
    --nude: #F4F1BB;
   
}

.btn {
    width: 120px;
    height: 120px;
    background-color: var(--blue);
    color: var(--darkred);
    border: 3px dashed var(--red);
    border-radius: 10%;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 5px 5px var(--darkred);
}

.btn:hover {
    background-color: var(--red);
    color: var(--darkblue);
    box-shadow: 5px 5px var(--darkblue);
    width: 130px;
    height: 130px;
    cursor: pointer;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 200px;
}